{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="row-fluid">
  {% if current_user.is_authenticated %}
  <div style="margin: 50px auto;">
      <h1 style="text-align: center;">Rancher Proxy Administration</h1>
  {% else %}
  <div style="width: 340px; margin: 50px auto;">
    <form method="POST" action="">
      <h2 style="text-align: center;">Log in</h2>
      {{ form.hidden_tag() if form.hidden_tag }}
      {% for f in form if f.type != 'CSRFTokenField' %}
      <div class="form-group">
        {{ f.label }}
        {{ f(class_="form-control") }}
        {% if f.errors %}
        <ul>
          {% for e in f.errors %}
          <li>{{ e }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      {% endfor %}
      <button class="btn btn-primary btn-block form-control" type="submit">Submit</button>
    </form>
  {% endif %}
  </div>
</div>
{% endblock body %}